<div id="main-container">

    <div id="front-wrap-container" >
        <div id="front-view" class="main-slideshow">
            <carousel id='moving-content'>
                <slide>
                    <img src="https://cdn.vox-cdn.com/thumbor/tJOsubrnjruSTOwmMMHV9svkfYQ=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/19353363/PersonalStyle.jpg" alt="first slide" >
                </slide>
                <slide>
                    <img src="https://www.thespruce.com/thmb/gMkqQDieCp-v8uPs9_cWzsfAj_8=/1451x1088/smart/filters:no_upscale()/twenty20_02ca2991-5a89-4878-bf45-afd5edc6bdf9-594828ba5f9b58d58acb8579-5c0eaf8ac9e77c000147d2dc.jpg" alt="second slide" >
                </slide>
                <slide>
                    <img src="https://d.newsweek.com/en/full/1527327/6-best-vintage-clothes-shops-new-york.jpg" alt="third slide" >
                </slide>
            </carousel>
        </div>        
    </div>

    <div class="about-content" >
        <about></about>
    </div>
    <!-- <div class='about-container'>
        <router-outlet></router-outlet>
    </div> -->

</div>