<div id="about-mainframe" class="row ">
    
    <div class="col-9 text-left" id="about-content">
        <h2>About</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet est voluptatum necessitatibus ipsum sit aliquid repellendus, odit dicta! Natus laborum ea alias nihil. Enim perspiciatis libero vitae, ab dignissimos reprehenderit.</p>
        <h3>Purpose</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil suscipit eligendi architecto nisi soluta ut in dolorum iure sint at sapiente, enim doloribus, dolor mollitia. Ex tempora nesciunt eum animi.</p>
        <h3>History</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi non ullam similique voluptatibus esse consectetur doloremque ipsum, at ipsa accusamus impedit placeat facere exercitationem officia error doloribus. Quod, tempora repellendus.</p>
    </div>
    <div class="col-xs-6" id="profile-frame">
        <img id="image-content" src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    </div>
    
</div>

